<nav class="navbar">
    <h1>
        <a routerLink="/">E-Commerce</a>
    </h1>

    <!-- keyup or key down evenets happens when key release -->

    <div *ngIf="menuType==='default'">
        <input #sercahitem class="navserch" (blur)="hideserach()" (keyup)="saerch_product($event)" type="text" placeholder="Enter Search Item">
        <button (click)="search(sercahitem.value)" class="buttonsearch">Search</button></div>
    <ul class="serach_list" *ngIf="serach_show">
        <li *ngFor="let item of serach_show">
            <a (mousedown)="serach_keydown(item.id)">{{item.product_name}}</a></li>
    </ul>


    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'" class="navlist">
            <li> <a routerLink="/">Home</a> </li>
            <li> <a routerLink="/seller_auth">Seller</a></li>
            <li> <a routerLink="/seller_login">Seller Login</a> </li>
            <li> <a routerLink="/user_signup">User</a> </li>
            <li> <a routerLink="/user_signup">User Login</a> </li>
            <li> <a>Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'user'" class="navlist">
            <li><a routerLink="/seller_home">User</a> </li>
            <li> <a routerLink="/seller_add_product">User Cart</a></li>
            <li> <a (click)="logout_user()">Logout</a></li>
            <li><a>{{user_name}}</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'" class="navlist">
            <li><a routerLink="/seller_home">Product List</a> </li>
            <li> <a routerLink="/seller_add_product">Add Products</a></li>
            <li> <a (click)="logout_seller()">Logout</a></li>
            <li><a>{{seller_name}}</a></li>
        </ul>
    </div>
</nav>